.btn-user{
    border: 1px solid #337ab7;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
}
a:hover, a:focus{
    text-decoration: none;
}

.right5-absolute{
    position: absolute;
    right: 5%;
    top: 5%;
}